.main .content1 {
  background: url(../img/job-banner.jpg);
  background-size: cover;
  color: #fff;
}
.main .content2 {
  padding: 145px 115px 150px 130px;
}
.main .content2 li {
  list-style: none;
}
.main .content2>p {
  margin-bottom:90px;
}
.main .content2 .row {
  padding: 90px 0 0;
}