.main .content1{
  background: url(../img/client-banner.jpg) 100% 100%;
  background-size: cover ;
}
.main li {
  list-style: none;
}
.main section:nth-last-child(1) {
  padding-bottom: 150px;
}

.tabActive{
  color: red !important;
  border-bottom: 1px solid red;
}