/*logo*/
.header-brand{
  padding: 10px 15px;  
}
/*导航栏内边*/
.container-fluid {
  padding: 0 80px;
}
nav:nth-child(1) {
  margin-bottom: 0px;
  border-bottom: 0px;
  height: 100px;
  line-height: 100px;
  font-size: 18px;
}
nav:nth-child(2) {
  margin-bottom: 0px;
  border-bottom: 0px;
}

.navbar-default:nth-child(1) .navbar-nav>li>a:hover {
  color: #000;
}
.navbar-default:nth-child(2) .navbar-nav>li>a:hover {
  color: #333;
}

.navbar-index .navbar-nav>li>a,.navbar-index .navbar-nav>li>a:focus{
  color: #ddd;
}

.navbar-index:nth-child(1) .navbar-nav>li>a:hover {
  color: #fff;
}

.header-top{
  margin-top: 26px;
}
.navbar-default{
  background: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #a9a9a9;
}