/*main-common*/
.outer-section {width:100%; float: left; clear: both;}
.outer-wrapper {width:100%; max-width: 1440px; margin: 0 auto;}
.main{
  overflow: hidden;
}
.content1{
  height: 500px !important;
}
.main .content1_banner{
  line-height: 500px;
  font-size: 48px;
  text-align: center;
}
/*.main section:nth-last-child(1) {
  padding-bottom: 150px;
}*/
.content-title{
  color: #333;
  font-size: 30px;
  text-align: center;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
section {
  background: #f4f4f4;
}
section h5 {
  font-size: 24px;
  text-align: center;
}
section p,li {
  font-size: 18px;
  line-height: 35px;
}
section h5,p,li {
  color: #585858;
}


/*content-nav*/
.main .content-nav{
  padding:40px 250px;
}
.main .content-nav li {
  color: #333;
  text-align: center;
  cursor: pointer;
}
.main .content-nav li:hover {
  color: red;
  /*text-decoration: underline;*/
  border-bottom: 1px solid red;
  /*transition: all 0.5s;*/
}

.main .content-container {
  margin-top: 80px;
}


/*case*/
.main .case {
  padding: 65px 80px;
}

.main .case .content-title, .news .content-title {
  text-align: left;
}
.news .content-title{
	padding-bottom:18px;
}
.main .case li a:hover{
  color: #d21229;
  text-decoration: underline;
  cursor: pointer;
}

.main .case .solution-more{
	float:right;
	color: #d21229;
	margin-top:14px;
	
}
.main .case-content{
  padding: 45px 0;
}
.main .case-content>li{
  text-align: center;
  float: left;
  overflow: hidden;
}
.main .case-content>li a{
  display: block;
  position: relative;
  transition: all .3s;
  text-decoration: none!important;
}

.main .case-content>li .case-item {
  display: block;
  width: 100%;
  max-width: 274px;
  position: relative;
  margin: 0 auto;
}
.main .case-content>li .case-item .mask{
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  transition: all .3s;
  text-align: center;
}
.main .case-content>li .mask p{
  height: 70px;
  padding-top: 20px;
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.main .case-content>li:hover .mask{
  opacity: 1;
}
.main .case-content>li h2{
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.main .case-content>li img {
  width: 100%;
}
.main .case-content>li img:hover {
  transform: scale(1.02);
}
.main .case-content>li span {
  font-size: 14px;
  line-height: 1.8;
  padding: 4px 20px;
  background: #ea042b;
  color: #fff;
  display: inline-block;
  margin: 20px 0;
}
.main .case-content>li span {
  font-size: 14px;
  line-height: 1.8;
  padding: 4px 20px;
  background: #ea042b;
  color: #fff;
  display: inline-block;
  margin: 20px 0;
}
.main .client ul li {
  text-align: center;
  padding: 20px 0;
}

/*@media screen and (min-width:414px) and (max-width: 760px) {
  .main .case-content>li{
    width: 50%;
    float: left;
    overflow: hidden;
  }
}*/