/*header*/
img{
  width: 100%;
} 
.main section ul li {
  list-style: none;
}
.main section a {
  color: #333;
}
/*将导航栏改成固定在div上面*/
.navbar-fixed-top {
  position: absolute;
}
.navbar-default{
  background: rgba(0,0,0,0);
}
.banner-button>div {
  cursor: pointer;
}
.swiper-slide {
  cursor: pointer;
  position: relative;
}
.swiper-slide .hack {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: rgba(255,255,255,0.2)*/
}
.swiper-slide:hover .hack {
  display: block;
}
.swiper-slide {
  background-repeat: no-repeat;
  background-position: center right;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 0;
  background: #fff;
  opacity: .9;
  cursor: pointer;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 50px;
  height: 5px;
  border-radius: 0;
  background: #6ba4f3;
  /*opacity: .2;*/
}
/*banner*/
.banner-title {
  width: 520px;
  height: 175px;
  margin: 178px 0 0px 157px;
  position: absolute;
  /*left: 157px;*/
  top: 0px;
  color: #fff;
}
.banner-title p,.main .product>div>div p {
  color: #fff;
}
.banner-title h1 {
  font-size: 48px;
}
.banner-title p {
  width: 310px;
  margin-top: 20px;
  line-height: 30px;
}

/*product*/
.main .product>div {
  height: 120px;
  background: #333;
  /*background: url(../img/panabit-content-bg.jpg) 100% 100%;*/
  /*background-size: cover;*/
}
.main .product>div>div {
  padding: 25px;
  line-height: 120px;
}

.main .product .product-navbar {
  cursor: pointer;
}

.main .product .product-navbar div {
  /*background: rgba(0,0,0,0.3);*/
}
.main .product .product-navbar div:hover{
  background: #999;
}

.main section>div>div p{
  text-align: center;
}

/*case*/
.main .case {
  padding: 65px 80px;
}

.main .case .content-title, .news .content-title {
  text-align: left;
}
.main .case li a {
  color: #333;
}
.main .case li a:hover{
  color: #d21229;
  text-decoration: underline;
  cursor: pointer;
}
.main .case-content{
  padding: 45px 0;
}
.main .case-content>li{
  margin: 5px;
  padding: 5px;
  width: 270px;
  float: left;
  background: #fff;
  transition: all .3s;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  overflow: hidden;
}
.main .case-content>li a{
  text-decoration: none!important;
}
.main .case-content>li h2{
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #333;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .case-content>li img {
  height: 160px;
}
.main .case-content>li img:hover {
  transform: scale(1.02);
}
.main .case-content>li span {
  font-size: 14px;
  line-height: 1.8;
  padding: 4px 20px;
  background: #ea042b;
  color: #fff;
  display: inline-block;
  margin: 20px 0 20px 25px;
}
/*news*/

.main .news {
  padding: 70px;
  background: #d3d3d3;
}
.main .news>div>div>ul li {
  margin: 10px 0;
}

.main .news ul li:nth-child(odd){
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}

.main .img-containers {
  text-align: center;
}

.main .news img {
  width: 50%;
  vertical-align:middle;
}