.main .content1{
  background: url(../img/panalog-banner.jpg) center bottom;
  background-size: cover;
}

.main .content1>div {
  padding-top: 235px;
}
.main .content2 .content-title{
  font-size: 36px;
  padding: 50px 0;
}
.main .product-content-title, .main .product-content-subtitle {
  margin-bottom: 30px;
  color: #fff;
}
.main .content1 p {
  margin-top: 20px;
}

.main .content2{
  padding: 0 270px;
  padding-top: 250px;
  padding-bottom: 100px;
  /*height: 735px;*/
}
.product-computer{
  margin-top: -100px;
  text-align: center;
}
.main .content-bottom {
  padding-top: 100px;
}

.main .content3 {
  padding: 80px 150px;
  height: 892px;
  background: url(../img/panalog-bg1.jpg) center center;
}
.main .content3 .content-title {
  font-size: 36px;
  line-height: 4;
  color: #fff;
}
.main .content3 div {
  width: 960px;
  margin: 0 auto;
}
.main .content3 p {
  margin-top: 12px;
  color: #fff;
}
.main .content4 {
  padding: 80px 150px;
  height: 820px;
  background: url(../img/panalog-bg2.jpg) top center;
  background-size: cover;
}
.content4 .content-title{
  margin:0;
}

.main .content5 {
  padding: 80px 150px;
  /*height: 500px;*/
  background: url(../img/panalog-bg3.jpg);
  background-size: cover;
}
.main .content5 h1 {
  color: #fff;
}

.main .content5 ul{
  padding-top: 47%;
}
.main .content5 ul li {
  color: #fff;
}