/*header*/
img{
  
} 
.main section ul li {
  list-style: none;
}
.main section a {
  color: #333;
}
/*将导航栏改成固定在div上面*/
.navbar-default{
  background: rgba(0,0,0,0);
}
.banner-button>div>div {
  padding: 25px;
  cursor: pointer;
}
.swiper-slide {
  cursor: pointer;
  position: relative;
}
.swiper-slide .hack {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: rgba(255,255,255,0.2)*/
}
.swiper-slide:hover .hack {
  display: block;
}
.swiper-slide {
  background-repeat: no-repeat;
  background-position: center right;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 80px;
  height: 8px;
  border-radius: 0;
  background: #fff;
  opacity: .5;
  cursor: pointer;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 80px;
  height: 8px;
  border-radius: 0;
  background: #fff;
  opacity: 1;
}
/*banner*/
.banner-title {
  width: 520px;
  height: 175px;
  margin-top: 178px;
  position: absolute;
  /*left: 157px;*/
  top: 0px;
  color: #fff;
}
.banner-title p,.main .product>div>div p {
  color: #fff;
}
.banner-title h1 {
  font-size: 48px;
}
.banner-title p {
  width: 310px;
  margin-top: 20px;
  line-height: 30px;
}

/*product*/
.main .product>div {
  height: 120px;
  background: #333;
  /*background: url(../img/panabit-content-bg.jpg) 100% 100%;*/
  /*background-size: cover;*/
}
.main .product .product-navbar {
  cursor: pointer;
}

.main .product .product-navbar div {
  /*background: rgba(0,0,0,0.3);*/
}
.main .product .product-navbar div:hover{
  background: #4a4a4a;
}

.main section>div>div p{
  text-align: center;
}

/*case*/
/*.main .case {
  padding: 65px 80px;
}

.main .case .content-title, .news .content-title {
  text-align: left;
}
.main .case li a {
  
}
.main .case li a:hover{
  color: #d21229;
  text-decoration: underline;
  cursor: pointer;
}
.main .case-content{
  padding: 45px 0;
}
.main .case-content>li{
  margin: 5px;
  padding: 5px;
  width: 270px;
  float: left;
  overflow: hidden;
}
.main .case-content>li a{
  display: block;
  position: relative;
  transition: all .3s;
  text-decoration: none!important;
}
.main .case-content>li .mask{
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  transition: all .3s;
  text-align: center;
}
.main .case-content>li .mask p{
  height: 70px;
  padding-top: 20px;
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.main .case-content>li:hover .mask{
  opacity: 1;
}
.main .case-content>li h2{
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #333;
  text-align: center;
}
.main .case-content>li img {
  height: 160px;
}
.main .case-content>li img:hover {
  transform: scale(1.02);
}
.main .case-content>li span {
  font-size: 14px;
  line-height: 1.8;
  padding: 4px 20px;
  background: #ea042b;
  color: #fff;
  display: inline-block;
  margin: 20px 0;
}*/
/*news*/

.main .news {
  padding: 70px;
}
.main .news a{
  font-size:16px!important;
}
.main .news>div>div>ul li {
  margin: 10px 0;
}

.main .news ul li:nth-child(odd){
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}

.main .img-containers {
  text-align: center;
}

.main .news img {
  vertical-align:middle;
}


.nav-pills>li {
    border-radius: 4px;
}
.nav>li{
    position: relative;
    display: block;
    padding: 0px 10px;
}


.main .case li:hover {
    color: #d21229;
    text-decoration: underline;
    cursor: pointer;
}
.nav>li:focus, .nav>li:hover {
    text-decoration: none;
}
.main section {
    color: #333;
}
.nav-pills>li {
    margin-right: 12px;
    border-radius: 4px;
}
.nav>li {
    position: relative;
    display: block;
    padding: 0px 10px;
}
.nav-pills>li.active, .nav-pills>li.active:focus, .nav-pills>li.active:hover {
  color: #fff;
  background-color: #ea042b;
}