.main .content1{
  background: url(../img/panalog-banner.jpg);
  background-size: cover;
}

.main .content1>div {
  padding-top: 235px;
}
.main .content2 .content-title{
  font-size: 32px;
}
.main .product-content-title, .main .product-content-subtitle {
  margin-bottom: 30px;
  color: #fff;
}
.main .content1 p {
  margin-top: 20px;
}

.main .content2{
  padding-top: 250px;
  padding-bottom: 100px;
  /*height: 735px;*/
}
.product-img{
  top: 445px;
}
.main .content-bottom {
  padding-top: 300px;
}

.main .content3 {
  height: 820px;
  background: url(../img/panalog-bg1.jpg);
  background-size: cover;
}
.main .content4 {
  height: 767px;
  background: url(../img/panalog-bg2.jpg);
  background-size: cover;
}
.content4 .content-title{
  margin:0;
}

.main .content5 {
  /*height: 500px;*/
  background: url(../img/panalog-bg3.jpg);
  background-size: cover;
}
.main .content5 h1 {
  color: #fff;
}

.main .content5 ul{
  padding-top: 47%;
}
.main .content5 ul li {
  color: #fff;
}