.content3 {
  height: 820px;
  background: url(../img/product-smb7.jpg);
  background-size: cover;
}
.content3 p {
  text-align: center;
}
.content-buy {
  height: 837px;
}
.content-buy .buy-content{
  height: 100%;
  text-align: center;
  line-height: 760px;
  position: relative;
}
.content-buy .buy-content img {
  vertical-align: middle;
}
.content-buy .buy-content:nth-child(1){
  background: #a11f1f;
}

.content-buy .buy-content:nth-child(2){
  background: #26398c;
}
.content-buy .bottom{
  margin-right: -90px; 
  margin-left: 0px;
}
.content-buy .buy-bottom{
  font-size: 36px;
  color: #fff;
  text-align: center;
  height: 80px;
  line-height: 80px;
}
.content-buy .buy-bottom:nth-child(1){
  background: #811919;
}
.content-buy .buy-bottom:nth-child(2){
  background: #1e2e70;
}

.content5 li{
  padding: 80px 0;
  text-align: center;
}
.content5 .content-title {
  padding: 35px 0;
}

.content5 li img{
  width: 30%;
}
.content5 .content-text{
  padding: 80px;
  text-align: left;
}