.main .content1 {
  background: url(../img/banner1.jpg) left bottom;
  background-size: cover;border-bottom:1px #ccc solid
 }

.main .content1>div {
  padding-top: 235px;
}

.main .product-content-title {
  /*margin-top: 235px;*/
  margin-bottom: 30px;
}

.main .content2{
   /*height: 735px;*/
}
.product-img{
  padding: 0 80px;
  padding: 0 80px;
  position: relative;
  top: -65px;
  text-align:center;
}
.content3 {
  height: 686px;
  background:#0e172a url(../img/product-Enterprise-bg.jpg) no-repeat bottom center;
}
.content3{
  background-position: center center;
}
.content4 {
  background: #dcdffd;  
}
.content4 img{
  width: 100%;
  padding-bottom: 80px;
}
.content3 p {
  color: #fff;
}



.main .content-title {
  font-size: 36px;
}

/*client*/
.main .more{
  text-decoration: none;
}
.main .more p{
  margin-top: 10px;
  text-align: center;
  color: red;
}