.main .content1 {
  background: url(../img/banner1.jpg) left bottom;
  background-size: cover;border-bottom:1px #ccc solid
 }

.main .content1>div {
  padding-top: 235px;
}

.main .product-content-title {
  /*margin-top: 235px;*/
  margin-bottom: 30px;
}

.main .content2{
   /*height: 735px;*/
}
.product-img{
  padding: 0 80px;
  padding: 0 80px;
  position: relative;
  top: -65px;
  text-align:center;
}
.content3 {
  height: 686px;
  background:#0e172a url(../img/product-Enterprise-bg.jpg) no-repeat bottom center;
}
.content4 {
  height: 800px;
  background: #dcdffd url(../img/product-bg2.jpg) no-repeat;    
}
.content3, .content4 {
  background-position: center center;
}
.content3 p {
  color: #fff;
}



.main .content-title {
  font-size: 36px;
}

/*client*/
.main .more{
  text-decoration: none;
}
.main .more p{
  margin-top: 10px;
  text-align: center;
  color: red;
}
.main .client ul {
  padding: 50px;
}
.main .client ul li {
  text-align: center;
  margin-bottom: 50px;
  /*margin: 90px;*/
}
.main .client img{
  width: 185px;
  height: 65px;
}
  .main .client li:nth-child(2) img, .main .client li:nth-child(3) img{
    width: 100px;
  height: 65px;
}