.main{
  width: 100%;
}
.main .content1 {
  background: url(../img/solution-banner.jpg);
  background-position: center;
  line-height: 500px;
  text-align: center;
  font-size: 48px;
  color: #fff;
}
.main .content-nav li{
  list-style: none;
}
.main .content-con li{
  padding: 0;
}
.main .content-nav, .main .content-con{
  padding:40px 200px;
}
.main .size {
  padding-bottom: 100px;
}
.main .size .table{
  margin-top: 90px;
}
.main .size .table thead{
  font-weight: bold;
}
.main .size .table tr, .main .size .table td {
  border: 0px;
  text-align: center;
  height: 60px;
}










